.page-container {
  max-width: var(--page-width);
  padding: 1rem;
  margin: 70px auto 60px;
}

.shadow {
  box-shadow: var(--shadow);
}

.gradient-text {
  background: linear-gradient(140deg, #000000, #af002d 30.07%, #ff0000 74.05%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btn {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
  cursor: pointer;
  display: block;
  width: max-content;
  padding: 0 1.5em;
  line-height: 2.9em;
  background-color: var(--color-secondary);
  border: solid 2px #fff;
  color: #fff;
  text-align: center;
  backface-visibility: hidden;
  transition: 0.3s ease-in-out;

  &:hover {
    background-color: #fff;
    text-shadow: none;
    color: var(--color-secondary);
    border: solid 2px var(--color-secondary);
  }
}
.btn--sm {
  padding: 6px 8px;
}
.btn--danger {
  background-color: var(--color-danger);
  color: var(--color-text-alt);
}
.btn--danger:hover,
.btn--danger:focus {
  border: none;
  background-color: var(--color-danger);
  color: var(--color-text-alt);
  filter: brightness(90%);
}
.btn-plus {
  color: var(--color-secondary);
  text-align: center;
  cursor: pointer;
}
// Font families

.ff-quicksand {
  font-family: "Quicksand", sans-serif;
}

.visually-hidden,
.visually-hidden-focusable:not(:focus):not(:focus-within) {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

.d-flex {
  display: flex;
}

.visually-hidden,
.visually-hidden-focusable:not(:focus):not(:focus-within) {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

.text-center {
  text-align: center;
}
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
@media(max-width: 720px) {
  .mt-md-8 {
    margin-top: 8rem;
  }
}
