{% macro oldprojectlist(projects_old) %}
<section>
  <div class="project-grid project-grid--old">
    {% for project in projects_old %}
    {{ project | dump }}
    <div class="card">
      <input type="checkbox" id="card-{{ loop.index }}" class="more"
        aria-hidden="true">
      <div class="content">
        <div class="front">
          {% if project.data.image %}
          <img class="project-card__image"
            src="/assets/img/projects/{{ project.data.image }}"
            alt="{{ project.data.title }}"
          />
          {% endif %}
          {% if project.data.title %}
          <h3 class="card__title">{{ project.data.title }}</h3>
          {% else %}
          Sin título
          {% endif %}
          <label for="card-{{ loop.index }}" class="btn-plus" aria-hidden="true">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32"
              fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
              <path
                d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z" />
            </svg>
            <span class="visually-hidden">Detalles</span>
          </label>
        </div>
        <div class="back">
            <div class="description">
              {% if project.data.summary %}
              <p>
                {{ project.data.summary }}
              </p>
              {% endif %}
              {% if project.data.technology %}
              <ul>
                {% for tech in project.data.technology %}
                {%- if tech != "project" -%}
                <li>{{ tech }}</li>
                {%- endif -%}
                {% endfor %}
              </ul>
              {% endif %}
            </div>
          <a class="card__button mx-auto" target="_blank" rel="noopener noreferrer" href="{{ project.data.url_online | url }}">
            Ver online
          </a>
          {% if project.data.title %}
          <h3 class="card__title">{{ project.data.title }}</h3>
          {% else %}
          Sin título
          {% endif %}
          <label for="card-{{ loop.index }}" class="btn-plus return"
            aria-hidden="true">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32"
              fill="currentColor" class="bi bi-arrow-left-circle-fill" viewBox="0 0 16 16">
              <path
                d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0zm3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z" />
            </svg>
            <span class="visually-hidden">Volver</span>
          </label>
        </div>
      </div>
    </div>
    {% endfor %}
  </section>
{% endmacro %}

<div class="wrapper">
  <div class="card">
    <div class="card__face card__face--front">
      {% if project.data.image %}
      <img class="project-card__image"
        src="/assets/img/projects/{{ project.data.image }}" />
      {% endif %}
      {% if project.data.title %}
      <h3 class="card__title">{{ project.data.title }}</h3>
      {% else %}
      Sin título
      {% endif %}
      {# {% if project.data.tags %}
      <p class="tag-list">
        {% for tag in project.data.tags %}
        {%- if tag != "project" -%}
        {% set tagUrl %}/project-tags/{{ tag }}/{% endset %}
        <a class="project-card__tag tag" href="{{ tagUrl | url }}" rel="tag">{{
          tag }}</a>
        {%- endif -%}
        {% endfor %}
      </p>
      {% endif %} #}
    </div>
    <div class="card__face card__face--back">
      {% if project.data.title %}
      <h3 class="card__title">{{ project.data.title }}</h3>
      {% else %}
      Sin título
      {% endif %}
      {% if project.data.summary %}
      <p>
        {{ project.data.summary }}
      </p>
      {% endif %}
      {% if project.data.technology %}
      <ul>
        {% for tech in project.data.technology %}
        {%- if tech != "project" -%}
        <li>{{ tech }}</li>
        {%- endif -%}
        {% endfor %}
      </ul>
      {% endif %}
      <div class="btn-arrow">
        {# <a class="project-card__button" href="{{ project.url | url }}">Ir
          a proyecto</a> #}
        <a class="project-card__button"
          href="{{ project.data.url_online | url }}">Ver online</a>
      </div>
    </div>
  </div>
</div>
