.header {
  display: flex;
  justify-content: space-between;

  .full-name {
    font-size: 3rem;
    text-transform: uppercase;
    margin-bottom: 5px;
  }

  .first-name {
    font-weight: 700;
  }

  .last-name {
    font-weight: 300;
  }

  .contact-info {
    font-family: sans-serif;
  }
  .photo {
    text-align: center;
  }
  .cv-image {
    max-width: 100px;
    border-radius: 100%;
    border: solid var(--border-2) var(--color-primary);
    margin-bottom: 1rem;
  }

  .email,
  .phone {
    color: #666;
    font-weight: 300;
  }

  .separator {
    height: 10px;
    display: inline-block;
    border-left: 2px solid #999;
    margin: 0px 10px;
  }

  .position {
    font-weight: bold;
    display: inline-block;
    margin-right: 10px;
    text-decoration: underline;
  }
}

.details {
  font-family: sans-serif;

  .section {
    margin-bottom: 2rem;
  }

  .section:last-of-type {
    margin-bottom: 0px;
  }

  .section__title {
    letter-spacing: 2px;
    font-weight: bold;
    margin-bottom: 10px;
    text-transform: uppercase;
    border-bottom: solid 1px;
  }

  .section__list-item {
    margin-bottom: 2rem;
    display: flex;

    @media print {
      margin-bottom: 1rem;
    }
  }

  .section__list-item:last-of-type {
    margin-bottom: 0;
  }

  .left,
  .right {
    display: inline-block;
  }

  .left {
    flex: 1 1 25%;
  }

  .right {
    flex: 1 1 75%;
  }

  .name {
    font-weight: bold;
  }

  a {
    text-decoration: none;
    color: #000;
    font-style: italic;
  }

  a:hover {
    text-decoration: underline;
    color: #000;
  }
}
.languages {
  .section__list-item {
    display: inline-block;
    padding-right: 2rem;

   & > *{
    display: inline-block;
    padding-right: .5rem;
  }
  }
}
