.site-header {
  position: fixed;
  width: 100%;
  background-color: var(--color-bg);
  z-index: var(--z-header);
  border-bottom: 3px solid #000;
}

.site-header__container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 0 12px 0;
  padding: 0 10px 0 10px;

  @media (min-width: 1024px) {
    max-width: var(--page-width);
    margin: 0 auto;
  }
}

.site-header__logo-container {
  margin: 0;
  margin-right: auto;
}
.site-logo {
  width: 2.2rem;
  padding-top: 1.2rem;
  margin-right: 0.5rem;
}
.site-header__logo {
  padding: 6px 8px;
  color: black;
  font-size: 3rem;
  font-weight: 900;

  &:hover {
    color: var(--color-secondary);
  }
}

.site-header__nav {
  display: none;
  width: 100%;

  @media (min-width: 1024px) {
    display: block;
    width: auto;
    margin-top: 0;
  }
}

.site-header__mobile-nav {
  display: flex;
  align-items: center;
  border: none;
  background: none;
  color: var(--color-text);
  transition: opacity 0.2s ease;

  &:hover {
    opacity: 0.8;
  }

  svg {
    height: auto;
    width: 24px;
    padding-top: 0.5rem;
  }

  @media (min-width: 1024px) {
    display: none;
  }
}

.site-header__mobile-nav-label {
  margin-right: 12px;
}

.site-header__items {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-header__item {
  margin: 0 6px;
  font-weight: 500;
  font-size: 14px;

  @media (min-width: 1024px) {
    margin: 0 15px;
    font-size: 15px;
  }
}

.site-header__link {
  display: flex;
  align-items: center;
  padding: 6px 8px;
  color: var(--color-text);
  border-bottom: 4px solid white;
  text-transform: uppercase;

  &:hover {
    color: var(--color-secondary);
    border-bottom: solid 4px black;
  }

  &[aria-current] {
    color: black;
    border-bottom: solid 4px var(--color-secondary);
  }
}
