---
layout: base.njk
section: contact
---
<div class="page-container">
  <h1>{{ title }}</h1>
  <hr/>
  {{ layoutContent | safe }}

  <div class="wrapper-social">
    {% include "partials/form.njk" %}
    {% include "partials/social.njk" %}
  </div>

</div>
