---
layout: base.njk
section: project
---
<div class="page-container">
  <h1>
    {% if emoji %}
      <span class="project-card__emoji">{{ emoji }}</span>
    {% endif %}
    {{title}}
  </h1>
  <hr/>
  <div class="xxx">
    <div class="qqq">{{ content | dump }}</div>
    <img
      class="project-card__image"
      src="/assets/img/projects/{{ project.data.image }}"
    />
  </div>
  {{ layoutContent | safe }}
  <nav>
    <a href="{{ '/projects/' | url }}">Ver todos los Proyectos</a>
  </nav>
</div>
