.project-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 40px;
  margin: 40px 0;

  @media (min-width: 1024px) {
    grid-template-columns: repeat(2, 1fr);
  }
}
.project-card-container {
  position: relative;
  min-width: 300px;
  min-height: 400px;
  margin: 4px;
  perspective: 1000px;
}
.active {
  transform: translateZ(0px) rotateY(180deg) !important;
}
.active:after {
  display: none;
}
.project-card {
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius);
  background-color: var(--color-bg);
  box-shadow: var(--shadow);
}
.project-card__title {
  color: var(--color-text);
  margin-top: 0;
  margin-bottom: 0;
}
.project-card__tag {
  background-color: var(--color-secondary);
  color: var(--color-text-alt);

  &:hover {
    color: var(--color-text-alt);
    filter: brightness(90%);
  }
}
.project-card__emoji {
  margin-right: 8px;
}
.project-card {
  display: inline-block;
  width: 100%;
  height: 100%;
  cursor: pointer;
  -moz-backface-visibility: hidden;
  transform-style: preserve-3d;
  transform: translateZ(-100px);
  transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.project-card:after {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  box-shadow: 0 14px 50px -4px rgba(0, 0, 0, 0.15);
  opacity: 0;
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1.4);
}
.project-card:hover {
  transform: translateZ(0px);
}
.project-card:hover:after {
  opacity: 1;
}
.project-card .side {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background-color: white;
}
.project-card .front {
  z-index: 2;
}
.project-card .back {
  transform: rotateY(180deg);
}
.project-card .info {
  padding: 16px;
}
.project-card__button {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.front .img {
  background-color: #dadce2;
  background-position: center;
  background-size: cover;
  border-radius: 5px 5px 0 0;
  width: 100%;
}
.back {
  position: relative;
}
.back h2 {
  margin-top: 6px;
  margin-bottom: 18px;
}
.back .reviews {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  cursor: pointer;
}
.back .reviews p {
  color: #c4c4c4;
  font-weight: 300;
  margin: 1px 0 0 6px;
  transition: 0.3s ease-in-out;
}
.back .reviews:hover p {
  color: #555;
}
.back li {
  line-height: 22px;
  margin: 2px 0 6px 0;
}
.back .btn-arrow {
  position: absolute;
  bottom: 16px;
  width: calc(100% - 32px);
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: #ffc324;
  background-image: linear-gradient(-90deg, #ffb714, #ffe579);
  border-radius: 5px;
  cursor: pointer;
}
.back .btn-arrow:hover h4 {
  transform: translateX(0px);
}
.back .btn-arrow:hover svg {
  transform: translateX(0px);
  opacity: 1;
}
.back .btn-arrow h4 {
  transform: translateX(12px);
  transition: transform 0.3s ease-out;
}
.back .btn-arrow svg {
  margin: 1px 0 0 4px;
  transform: translateX(-8px);
  opacity: 0;
  transition: all 0.3s ease-out;
}
// end card project
