.project-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 40px;
  margin: 40px 0;

  @media (min-width: 1024px) {
    grid-template-columns: repeat(2, 1fr);
  }
}
$accent-color: #355cc9;

* {
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.card {
  width: 420px;
  height: 360px;
  margin: 1em;
  perspective: 1500px;
  background-color: white;
  .content {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.8s cubic-bezier(0.75, 0, 0.85, 1);
  }
}

.more {
  display: none;

  &:checked ~ .content {
    transform: rotateY(180deg);
  }
}

.front,
.back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  backface-visibility: hidden;
  transform-style: preserve-3d;

  .inner {
    transform: translateZ(80px) scale(0.94);
  }
}

.front {
  .inner {
    grid-template-rows: 5fr 1fr 1fr 2fr 1fr;
    justify-items: center;
  }

  .card__title {
    margin-bottom: 0.6em;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 500;
    text-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
    margin-top: 0rem;
    margin-top: 0.5rem;
    font-size: 2.2rem;
    text-align: center;
  }
}

.back {
  transform: rotateY(180deg);
  background-color: #fff;
  border: 2px solid rgb(240, 240, 240);
  .inner {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .info {
    position: relative;
    display: flex;
    align-items: center;
    color: $accent-color;
    grid-row: 3;
    &:not(:first-of-type):before {
      content: "";
      position: absolute;
      left: -0.9em;
      height: 18px;
      width: 1px;
      background-color: #ccc;
    }
    span {
      font-size: 2em;
      font-weight: 700;
    }
    i {
      &:before {
        background: linear-gradient(40deg, $accent-color, rgb(67, 138, 243));

        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
      }
      font-size: 1.2em;
    }
    .icon {
      margin-left: 0.3em;
      span {
        display: block;
        margin-top: -0.25em;
        font-size: 0.8em;
        font-weight: 600;
        white-space: nowrap;
      }
    }
  }

  .description {
    grid-row: 5;
    grid-column: 1/-1;
    line-height: 1.4em;
    overflow: auto;
    padding-right: 10px;
  }
}

.button {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
  cursor: pointer;
  display: block;
  padding: 0 1.5em;
  height: 3em;
  line-height: 2.9em;
  min-width: 3em;
  background-color: var(--color-secondary);
  border: solid 2px #fff;
  color: #fff;
  border-radius: 4px;
  text-align: center;
  left: 50%;
  backface-visibility: hidden;
  transition: 0.3s ease-in-out;
  text-shadow: 0 0 6px rgba(0, 0, 0, 0.3);

  &:hover {
    background-color: #fff;
    text-shadow: none;
    color: var(--color-secondary);
    border: solid 2px var(--color-secondary);
  }
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: lighten($accent-color, 20%);
}
::-webkit-scrollbar-thumb:hover {
  background: $accent-color;
}
