---
layout: base.njk
section: home
eleventyNavigation:
  key: Inicio
  order: 1
---
<div class="home-page">

  {# Hero #}
  <div class="hero">
    <div class="hero__col">
      {% image
        home.image,
        home.image_alt,
        "(min-width: 1024px) 50vw, 100vw",
        "hero__image shadow",
        "eager"
      %}
    </div>
    <div class="hero__col">
      <h1 class="hero__title text-secondary">{{ home.title }}</h1>
      {% if home.body %}
        <div class="hero__body">{{ home.body | markdown | safe }}</div>
      {% endif %}
    </div>
  </div>

  {# Blog #}
  {# <hr/>
  <h2>Blog</h2>
  {% from "macros/articlelist.njk" import articlelist %}
  {{ articlelist(
    articles = collections.post | reverse,
    show_tags = false,
    limit = 3
  ) }} #}

  {# Projects #}
  <hr/>
  <h2>Proyectos</h2>
  {% from "macros/projectlist.njk" import projectlist %}
  {{ projectlist(projects = collections.project | reverse) }}
</div>
