<footer class="site-footer d-print-none">
  <small>
    Hecho con <a href="https://www.11ty.dev/" target="_blank" rel="noopener noreferrer">Eleventy</a> y ❤️ por <a href="/">xacobe.net.</a>
  </small>
</footer>
