<div class="contact-social-icons">
    {% for socials in social.all %}
    <img src="{{ socials.icon }}" class="contact-social-icons--items" alt="{{ socials.name }}" title="{{ socials.name }}" height="50px" width="50px">
    {% endfor %}
</div>
